<div class="container my-5">
    <h1 class="mb-3">Add New Employee</h1>

    <div class="row">
        <div class="col-6">
            <form #form="ngForm" (ngSubmit)="addEmployee()">
                <div class="mb-3">
                  <label for="name" class="form-label">Name</label>
                  <input type="text" class="form-control" id="name"
                  name="name" [(ngModel)]="addEmployeeRequest.name">
                </div>
                
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email"
                    name="email" [(ngModel)]="addEmployeeRequest.email">
                </div>

                <div class="mb-3">
                    <label for="phone" class="form-label">Phone</label>
                    <input type="number" class="form-control" id="phone"
                    name="phone" [(ngModel)]="addEmployeeRequest.phone">
                </div>
                  
                <div class="mb-3">
                    <label for="salary" class="form-label">Salary</label>
                    <input type="number" class="form-control" id="salary"
                    name="salary" [(ngModel)]="addEmployeeRequest.salary">
                </div>

                <div class="mb-3">
                    <label for="department" class="form-label">Department</label>
                    <input type="text" class="form-control" id="department"
                    name="department" [(ngModel)]="addEmployeeRequest.department">
                </div>

                <button type="submit" class="btn btn-outline-info">Add Employee</button>
            </form>
        </div>
    </div>
</div>