<div class="container my-5">
    <h1 class="mb-3">Employees</h1>

    <table class="table table-hover" *ngIf="employees && employees.length > 0">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col">Salary</th>
                <th scope="col">Department</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of employees" [routerLink]="['/employees', 'edit', employee.id]">
                
                <td>{{ employee.name}}</td>
                <td>{{ employee.email}}</td>
                <td>{{ employee.phone}}</td>
                <td>{{ employee.salary}}</td>
                <td>{{ employee.department}}</td>
            </tr>
        </tbody>
    </table>

    <p *ngIf="!employees || employees.length <= 0">No Employees Found</p>
    
    <button type="submit" class="btn btn-outline-info" [routerLink]="['/employees', 'add']">Add Employee</button>
</div>